/* .auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}

.auth-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background: #3b82f6;
  color: white;
  border: none;
}

.link {
  color: blue;
  cursor: pointer;
} */

/* 1... */

/* Layout */
.auth-wrapper {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", sans-serif;
}

/* LEFT SIDE */
.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.auth-left h1 {
  font-size: 36px;
}

.auth-left p {
  margin-top: 10px;
  opacity: 0.9;
}

/* RIGHT SIDE */
.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8fafc;
}

/* CARD */
.auth-card {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 20px;
}

/* INPUTS */
input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

/* ROLE */
.roles {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.role {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.role.active {
  background: #e0e7ff;
  border: 2px solid #4f46e5;
}

/* LINK */
.link {
  margin-top: 15px;
  color: #4f46e5;
  cursor: pointer;
}
